<div><h1>Seleção de Celulares</h1></div>

<div class="container">
    <div class="input-container">
        <mat-form-field appearance="outline" class="input-field">
            <mat-label>Pesquisar pelo Nome</mat-label> 
            <input [(ngModel)]="filtro" matInput placeholder="Ex: LG" #input (keyup.enter)="filtrar()">
        </mat-form-field>
        <button mat-icon-button color="primary" class="search-button" id="meuBotaoPesquisar" (click)="filtrar()">
        <mat-icon>search</mat-icon>
    </button>
    </div>
</div>

<div class="container responsive-grid">
    <mat-card *ngFor="let card of cards()">
        
        <img mat-card-image [src]="card.imageUrl" />
        
        <mat-card-title class="centered-text">{{card.titulo}}</mat-card-title>

        <mat-card-content class="centered-text">
            {{card.marca}}
        </mat-card-content>
        <br/>
        <mat-card-content class="centered-text">
            {{card.preco}}
        </mat-card-content>

        <mat-card-actions class="centered-text">
            <a mat-stroked-button [routerLink]="['/user/ecommerce', card.id]" target="_blank">Ver Mais...</a>
        </mat-card-actions>

        <mat-card-footer>
            <button mat-flat-button
                color="accent"
                class="centralizar-botao">
                Adicionar ao Carrinho
            </button>
        </mat-card-footer>

    </mat-card>
</div>

<ng-template #noData>
    <p>Nenhum celular encontrado.</p>
  </ng-template>

<mat-paginator 
[pageSizeOptions]="[4, 6, 10]" showFirstLastButtons
[pageSize]="pageSize"
[length]="totalRecords"
(page)="paginar($event)">
</mat-paginator>
