
<h1>Celulares</h1>

<div class="search-container">
    <mat-form-field appearance="outline" class="input-field">
        <mat-label>Pesquisar pelo Nome</mat-label>
        <input
          [(ngModel)]="filtro"
          color="black"
          matInput
          placeholder="Ex: LG"
          (keyup.enter)="filtrar()"
        />
    </mat-form-field>

    <button
      mat-icon-button
      color="primary"
      class="search-button"
      id="meuBotaoPesquisar"
      (click)="filtrar()">
      <mat-icon>search</mat-icon>
    </button>

    <mat-form-field appearance="outline" class="input-field">
        <mat-label>Preço Mínimo</mat-label>
        <input
          [(ngModel)]="precoMin"
          matInput
          type="number"
          placeholder="Ex: 1000"
        />
    </mat-form-field>

    <button
      mat-icon-button
      color="primary"
      class="search-button"
      id="meuBotaoPesquisar"
      (click)="filtrar()">
      <mat-icon>search</mat-icon>
    </button>

    <mat-form-field appearance="outline" class="input-field">
        <mat-label>Preço Máximo</mat-label>
        <input
          [(ngModel)]="precoMax"
          matInput
          type="number"
          placeholder="Ex: 5000"/>
    </mat-form-field>

    <button
      mat-icon-button
      color="primary"
      class="search-button"
      id="meuBotaoPesquisar"
      (click)="filtrar()">
      <mat-icon>search</mat-icon>
    </button>
</div>

<!-- <div class="container responsive-grid">
    <mat-card *ngFor="let card of cards()">
        
        <img mat-card-image [src]="card.imageUrl" />
        
        <mat-card-title class="centered-text">{{card.titulo}}</mat-card-title>

        <mat-card-content class="centered-text">
            {{card.marca}}
        </mat-card-content>
        <br/>
        <mat-card-content class="centered-text">
            {{card.preco}}
        </mat-card-content>

        <mat-card-actions class="centered-text">
            <a mat-stroked-button [routerLink]="['/user/ecommerce', card.id]" target="_blank">Ver Mais...</a>
        </mat-card-actions>

        <mat-card-footer>
            <button mat-flat-button
            (click)="adicionarAoCarrinho(card)"
                color="accent"
                class="centralizar-botao">
                Adicionar ao Carrinho
            </button>
        </mat-card-footer>

    </mat-card>
</div> -->

<!-- /* From Uiverse.io by MuhammadHasann */  -->
<div class="container responsive-grid">
    <mat-card class="card" *ngFor="let card of cards()" 
    mat-stroked-button [routerLink]="['/user/ecommerce', card.id]">

        <div class="image_container">
            <img mat-card-image [src]="card.imageUrl" />
        </div>

        <div class="title">
            {{card.titulo}}
        </div>

            <div class="brand">
                {{card.marca}}
            </div>

        <div class="size">
            <span>Color</span>
            <ul class="list-size">
            <li class="item-list"><button class="item-list-button">Azul</button></li>
            <li class="item-list"><button class="item-list-button">Preto</button></li>
            <li class="item-list"><button class="item-list-button">Cinza</button></li>
            </ul>
        </div>

        <div class="action">
            <div class="price">
            {{card.preco}}
            </div>

            <button class="cart-button"
            mat-flat-button
            (click)="adicionarAoCarrinho(card)">
            <svg
                class="cart-icon"
                stroke="currentColor"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
                stroke-linejoin="round"
                stroke-linecap="round"
                ></path>
            </svg>
            <span>Add to cart</span>
            </button>
        </div>
    </mat-card>
</div>

<ng-template #noData>
    <p>Nenhum celular encontrado.</p>
  </ng-template>

<mat-paginator 
[pageSizeOptions]="[4, 6, 10]" showFirstLastButtons
[pageSize]="pageSize"
[length]="totalRecords"
(page)="paginar($event)">
</mat-paginator>
