body {
    background: linear-gradient(135deg, #aecdfc 0%, #86a3d2 100%);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.container {
    padding: 20px;
    background: rgba(162, 240, 240, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    background-color: rgb(134, 134, 134);
}

.centered-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mat-sidenav-content-text-color, var(--mat-app-on-background));
}

.centralizar-botao {
    display: block; 
    margin: 0 auto; 
    padding: 10px;
    width: 75%;
    text-align: center; 
    margin-bottom: 5px;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #4c1d95;
    background-color: #aecdfc;
    margin: auto;
    padding: 10px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #aecdfc;
}

.mat-form-field {
    width: 250px;
}

.search-button {
    background-color: #4c1d95;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button:hover {
    background-color: #6d28d9;
}

/* From Uiverse.io by alexruix */ 
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
  }
  
  .input {
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    width: 100%;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #D9E8D8;
    color: #0d0c22;
    box-shadow: 0 0 5px #C1D9BF, 0 0 0 10px #f5f5f5eb;
    transition: .3s ease;
  }
  
  .input::placeholder {
    color: #777;
  }
  
  .icon {
    position: absolute;
    left: 1rem;
    fill: #777;
    width: 1rem;
    height: 1rem;
  }  
  
/* From Uiverse.io by MuhammadHasann */ 
.card {
    --bg-card: #27272a;
    --primary: #6d28d9;
    --primary-800: #4c1d95;
    --primary-shadow: #2e1065;
    --light: #d9d9d9;
    --zinc-800: #18181b;
    --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);
  
    position: relative;
  
    display: grid;
    flex-direction: column;
    gap: 0.75rem;
  
    padding: 1rem;
    width: 14rem;
    background-color: var(--bg-card);
  
    border-radius: 1rem;
  }
  
  .image_container {
    overflow: hidden;
    cursor: pointer;
  
    position: relative;
    z-index: 5;
  
    width: 100%;
    height: 8rem;
    background-color: var(--primary-800);
  
    border-radius: 0.5rem;
  }
  
  .image_container .image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width: 3rem;
    fill: var(--light);
  }
  
  .title {
    overflow: clip;
  
    width: 100%;
  
    font-size: 1rem;
    font-weight: 600;
    color: var(--light);
    text-transform: capitalize;
    text-wrap: nowrap;
    text-overflow: ellipsis;
  }

  .brand{
    font-size: 0.75rem;
    color: var(--light);
  }
  
  .size {
    font-size: 0.75rem;
    color: var(--light);
  }
  
  .list-size {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  
    margin-top: 0.25rem;
  }
  
  .list-size .item-list {
    list-style: none;
  }
  
  .list-size .item-list-button {
    cursor: pointer;
  
    padding: 0.5rem;
    background-color: var(--zinc-800);
  
    font-size: 0.75rem;
    color: var(--light);
  
    border: 2px solid var(--zinc-800);
    border-radius: 0.25rem;
  
    transition: all 0.3s ease-in-out;
  }
  
  .item-list-button:hover {
    border: 2px solid var(--light);
  }
  .item-list-button:focus {
    background-color: var(--primary);
  
    border: 2px solid var(--primary-shadow);
  
    box-shadow: inset 0px 1px 4px var(--primary-shadow);
  }
  
  .action {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .price {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--light);
  }
  
  .cart-button {
    cursor: pointer;
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  
    padding: 0.5rem;
    width: 100%;
    background-image: var(--bg-linear);
  
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--light);
    text-wrap: nowrap;
  
    border: 2px solid hsla(262, 83%, 58%, 0.5);
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0.25rem 1px var(--light);
  }
  
  .cart-button .cart-icon {
    width: 1rem;
  }
