<mat-toolbar color="primary">
    <div class="toolbar-title">Cadastro de Telas</div>
</mat-toolbar>
<div class="form-container full-screen">
    <form [formGroup]="formGroup" class="form-styled">
        <mat-card class="input-card">
            <mat-card-content>
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Tamanho</mat-label>
                    <input matInput type="text" formControlName="tamanho">
                    <mat-error *ngIf="formGroup.get('tamanho') 
                                   && formGroup.get('tamanho')?.invalid
                                   && formGroup.get('tamanho')?.touched">
                                   O campo tamanho é obrigatório
                    </mat-error>
                </mat-form-field>
            </mat-card-content>
        </mat-card>

        <mat-card class="input-card">
            <mat-card-content>
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Resolução</mat-label>
                    <input matInput type="text" formControlName="resolucao">
                    <mat-error *ngIf="formGroup.get('resolucao') 
                                   && formGroup.get('resolucao')?.invalid
                                   && formGroup.get('resolucao')?.touched">
                                   O campo resolução é obrigatório
                    </mat-error>
                </mat-form-field>
            </mat-card-content>
        </mat-card>

        <div class="button-container">
            <button mat-raised-button routerLink="/admin/telas">
                Cancelar
            </button>
            <button mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid"
            (click)="onSubmit()">
                Salvar
            </button>
        </div>
    </form>
</div>
