<mat-toolbar color="primary">
    <div class="toolbar-title"> Cadastro de Telas</div>
</mat-toolbar>
<div class="form-container">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="formGroup">
                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Tamanho</mat-label>
                    <input matInput type="text" formControlName="Tamanho">
                    <mat-error *ngIf="formGroup.get('tamanho') 
                                   && formGroup.get('tamanho')?.invalid
                                   && formGroup.get('tamanho')?.touched">
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Resolucao</mat-label>
                    <input matInput type="text" formControlName="Resolucao">
                    <mat-error *ngIf="formGroup.get('Resolucao') 
                                   && formGroup.get('Resolucao')?.invalid
                                   && formGroup.get('Resolucao')?.touched">
                    </mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button routerLink="/telas">
                Cancelar
            </button>

            <button mat-raised-button *ngIf="formGroup?.get('id')?.value" color="warn" (click)="excluir()"
                [disabled]="formGroup.invalid">
                Excluir
            </button>

            <button mat-raised-button color="primary" (click)="salvar()" >
                Salvar
            </button>

        </mat-card-actions>
    </mat-card>
</div>