<mat-toolbar color="primary">
    <div class="toolbar-title"> Cadastro de Telas</div>
</mat-toolbar>
<div class="form-container">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" >
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Tamanho</mat-label>
                    <input matInput type="text" formControlName="tamanho">
                    <mat-error *ngIf="formGroup.get('tamanho') 
                                   && formGroup.get('tamanho')?.invalid
                                   && formGroup.get('tamanho')?.touched">
                                   O campo tamanho é obrigatório
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Resolucao</mat-label>
                    <input matInput type="text" formControlName="resolucao">
                    <mat-error *ngIf="formGroup.get('resolucao') 
                                   && formGroup.get('resolucao')?.invalid
                                   && formGroup.get('resolucao')?.touched">
                                   O campo resolucao é obrigatório
                    </mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions class="button-container">
            <button mat-raised-button routerLink="../">
                Cancelar
            </button>
            <button mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid">
                Salvar
            </button>

        </mat-card-actions>
    </mat-card>
</div>