<div class="home-container">
    <h1>Bem-vindo ao nosso site!</h1>
    <p>Este site foi desenvolvido com o objetivo de fornecer Produtos de alta qualidade, no inicio só temos Celulares em breve podemos ter outros Produtos,
      aguarde as atualizações.</p>

    <div class="team-section">
      <h2>Conheça os responsáveis</h2>
      <ul>
        <li>
          <img src="" alt="">
          <h3>Lucas Gabriel Sousa da Silva</h3>
          <p>Função: Programador/CEO</p>
          <p>Email: gabrielsousa&#64;unitins.br</p>
          <button >
            <a href="https://github.com/Lucas-Gabriel-Sousa" target="_blank">GitHub</a>            
          </button>
        </li>
        <li>
          <img src="" alt="">
          <h3>Júlio César Arraes Vieira</h3>
          <p>Função: Programador/CEO</p>
          <p>Email: julioarraes&#64;unitins.br</p>
          <button >
            <a href="https://github.com/julioarraes42" target="_blank">GitHub</a>            
          </button>
        </li>
      </ul>
    </div>

    <div class="interactions">
      <button (click)="mostrarMensagem()">Clique aqui para uma mensagem!</button>
      <p *ngIf="mensagem">{{ mensagem }}</p>
    </div>
  </div>
