<mat-card class="form-card">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form-container">
      
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Resolucao</mat-label>
            <input matInput type="text" formControlName="resolucao">
            <mat-error *ngIf="formGroup.get('resolucao')?.invalid && formGroup.get('resolucao')?.touched">
              A Resolucao é obrigatória.
            </mat-error>
          </mat-form-field>
        </div>
  
        <div class="col">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Frontal</mat-label>
            <input matInput type="text" formControlName="frontal">
            <mat-error *ngIf="formGroup.get('frontal')?.invalid && formGroup.get('frontal')?.touched">
              Esse campo é obrigatório.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
  
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid">
          Salvar
        </button>
  
        <button mat-raised-button color="warn" type="button" routerLink="../">
          Cancelar
        </button>
      </div>
  
    </form>
  </mat-card>