<mat-toolbar color="primary">
    <div class="toolbar-title"> Cadastro de Celulares</div>
</mat-toolbar>
<div class="form-container">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="formGroup">
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" formControlName="nome">
                    <mat-error *ngIf="formGroup.get('nome')?.invalid && formGroup.get('nome')?.touched">
                        {{ getErrorMessage('nome', formGroup.get('nome')?.errors) }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Preço</mat-label>
                    <input matInput type="number" formControlName="preco">
                    <mat-error *ngIf="formGroup.get('preco')?.invalid && formGroup.get('preco')?.touched">
                        {{ getErrorMessage('preco', formGroup.get('preco')?.errors) }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Estoque</mat-label>
                    <input matInput type="number" formControlName="estoque">
                    <mat-error *ngIf="formGroup.get('estoque')?.invalid && formGroup.get('estoque')?.touched">
                        {{ getErrorMessage('estoque', formGroup.get('estoque')?.errors) }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Marca</mat-label>
                    <input matInput type="text" formControlName="marca">
                    <mat-error *ngIf="formGroup.get('marca')?.invalid && formGroup.get('marca')?.touched">
                        O campo marca é obrigatório
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Ano de Lançamento</mat-label>
                    <input matInput type="number" formControlName="anoLancamento">
                    <mat-error *ngIf="formGroup.get('anoLancamento')?.invalid && formGroup.get('anoLancamento')?.touched">
                        O campo ano de lançamento é obrigatório
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Armazenamento (GB)</mat-label>
                    <input matInput type="number" formControlName="armazenamento">
                    <mat-error *ngIf="formGroup.get('armazenamento')?.invalid && formGroup.get('armazenamento')?.touched">
                        O campo armazenamento é obrigatório
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Memória RAM (GB)</mat-label>
                    <input matInput type="number" formControlName="ram">
                    <mat-error *ngIf="formGroup.get('ram')?.invalid && formGroup.get('ram')?.touched">
                        O campo RAM é obrigatório
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Tela</mat-label>
                    <mat-select formControlName="idTela" placeholder="Selecione uma tela">
                        <mat-option *ngFor="let tela of telas" [value]="tela.id">
                            {{ tela.resolucao }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('tela')?.invalid && formGroup.get('tela')?.touched">
                        O campo tela é obrigatório
                    </mat-error>
                </mat-form-field>

                <div class="input-with-button">
                    <mat-form-field appearance="outline" class="flex-item">
                        <mat-label>Processador</mat-label>
                        <mat-select formControlName="idProcessador" placeholder="Selecione um processador">
                            <mat-option *ngFor="let processador of processadores" [value]="processador.id">
                                {{ processador.modelo }} / {{ processador.marca }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formGroup.get('processador')?.invalid && formGroup.get('processador')?.touched">
                            O campo processador é obrigatório
                        </mat-error>
                    </mat-form-field>
                    <button mat-mini-fab color="primary" (click)="navigateToProcessador()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>

                <div class="input-with-button">
                    <mat-form-field appearance="outline" class="flex-item">
                        <mat-label>Serie</mat-label>
                        <mat-select formControlName="idSerie" placeholder="Selecione um serie">
                            <mat-option *ngFor="let serie of series" [value]="serie.id">
                                {{ serie.nome }} 
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formGroup.get('serie')?.invalid && formGroup.get('serie')?.touched">
                            O campo serie é obrigatório
                        </mat-error>
                    </mat-form-field>
                    <button mat-mini-fab color="primary" (click)="navigateToSerie()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>

                <div class="input-with-button">
                    <mat-form-field appearance="outline" class="flex-item">
                        <mat-label>Portas/Slots</mat-label>
                        <mat-select formControlName="idPortaSlot" multiple placeholder="Selecione uma ou mais portas/slots">
                            <mat-option *ngFor="let porta of portas" [value]="porta.id">
                                {{ porta.tipo }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formGroup.get('portaSlot')?.invalid && formGroup.get('portaSlot')?.touched">
                            O campo portas/slots é obrigatório
                        </mat-error>
                    </mat-form-field>
                    <button mat-mini-fab color="primary" (click)="navigateToPortaSlot()">
                        <mat-icon>add</mat-icon>
                      </button>
                </div>

                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Camera</mat-label>
                    <mat-select formControlName="idCamera" multiple placeholder="Selecione uma ou mais cameras/slots">
                        <mat-option *ngFor="let camera of cameras" [value]="camera.id">
                            {{ camera.resolucao }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('cameraSlot')?.invalid && formGroup.get('cameraSlot')?.touched">
                        O campo cameras é obrigatório
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Sensores</mat-label>
                    <mat-select formControlName="idSensor" multiple placeholder="Selecione uma ou mais Sensores">
                        <mat-option *ngFor="let sensor of sensores" [value]="sensor.id">
                            {{ sensor.tipo }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('sensor')?.invalid && formGroup.get('sensor')?.touched">
                        O campo sensor é obrigatório
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Imagem do Celular</mat-label>
                    <input type="file" (change)="carregarImagemSelecionada($event)" hidden #fileInput>
                    <input matInput [value]="fileName" readonly>

                    <button mat-icon-button matSuffix (click)="fileInput.click()">
                        <mat-icon>folder_open</mat-icon>
                    </button>
                </mat-form-field>

            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button routerLink="/admin/celulares">
                Cancelar
            </button>

            <button mat-raised-button *ngIf="formGroup?.get('id')?.value" color="warn" (click)="excluir()"
                [disabled]="formGroup.invalid">
                Excluir
            </button>

            <button mat-raised-button color="primary" (click)="salvar()">
                Salvar
            </button>

        </mat-card-actions>
    </mat-card>
</div>
