<div class="container">
    <h1 class="titulo-pagina">Cadastra-se</h1>
    <form [formGroup]="cadastroForm" >
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" placeholder="Seu nome completo" required>
        <mat-error *ngIf="cadastroForm.get('nome')?.invalid && cadastroForm.get('nome')?.touched">
          Nome é obrigatório e deve ter entre 2 e 100 caracteres.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" placeholder="Seu username" required>
        <mat-error *ngIf="cadastroForm.get('username')?.invalid && cadastroForm.get('username')?.touched">
          Username é obrigatório e deve ter entre 2 e 50 caracteres.
        </mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Senha</mat-label>
        <input matInput formControlName="senha" type="password" placeholder="Crie uma senha" required>
        <mat-error *ngIf="cadastroForm.get('senha')?.invalid && cadastroForm.get('senha')?.touched">
          Senha é obrigatória e deve ter no mínimo 6 caracteres.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" placeholder="Seu email" required>
        <mat-error *ngIf="cadastroForm.get('email')?.invalid && cadastroForm.get('email')?.touched">
          Insira um email válido.
        </mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>CPF</mat-label>
        <input matInput formControlName="cpf" placeholder="Seu CPF" required>
        <mat-error *ngIf="cadastroForm.get('cpf')?.invalid && cadastroForm.get('cpf')?.touched">
          CPF é obrigatório e deve ter entre 11 e 14 caracteres.
        </mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Sexo</mat-label>
        <mat-select formControlName="idSexo" required>
          <mat-option [value]="1">Masculino</mat-option>
          <mat-option [value]="2">Feminino</mat-option>
        </mat-select>
        <mat-error *ngIf="cadastroForm.get('idSexo')?.invalid && cadastroForm.get('idSexo')?.touched">
          Sexo é obrigatório.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>CEP</mat-label>
        <input matInput formControlName="cep" placeholder="Seu CEP">
      </mat-form-field>
      
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Estado</mat-label>
        <input matInput formControlName="estado" placeholder="São Paulo">
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Sigla</mat-label>
        <input matInput formControlName="sigla" placeholder="SP">
      </mat-form-field>
      
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Cidade</mat-label>
        <input matInput formControlName="cidade" placeholder="Sua cidade">
      </mat-form-field>
      
      <div formGroupName="telefone" class="full-width-input phone-fields">
        <mat-form-field appearance="outline" class="area-code-input">
          <mat-label>Código de Área</mat-label>
          <input matInput type="text" formControlName="codigoArea">
          <mat-error *ngIf="cadastroForm.get('telefone.codigoArea')?.invalid && cadastroForm.get('telefone.codigoArea')?.touched">
            O código de área é inválido.
          </mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="phone-number-input">
          <mat-label>Número de Telefone</mat-label>
          <input matInput type="text" formControlName="numero">
          <mat-error *ngIf="cadastroForm.get('telefone.numero')?.invalid && cadastroForm.get('telefone.numero')?.touched">
            O número de telefone é inválido.
          </mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" type="submit" [disabled]="cadastroForm.invalid">
        Cadastrar
      </button>
    </form>
  </div>