<div class="container">
    <div class="navegacao_dados">
        <mat-nav-list>
            <mat-list-item class="opcao" routerLink="">
                <mat-icon matListItemIcon>arrow_back</mat-icon>
                <span matListItemTitle>Voltar</span>
            </mat-list-item>
        </mat-nav-list>
    </div>
    <div class="perfil">
    </div>

    <div class="container_dados">
        <div class="container_dados_pessoais">
            <h1>Seus Dados</h1>
            <div class="container_dados_d">
                <div class="dados_pessoais">
                    <h2 class="titulo">Dados Pessoais</h2>
                    <div class="campo_dados_pessoais">
                        <mat-form-field appearance="outline" style="width: 100%" class="campos">
                            <mat-label>Nome: </mat-label>
                            <input matInput placeholder="Digite seu nome" formControlName="nome" [disabled]="true">
                            {{formGroup.get('nome')?.value}}
                        </mat-form-field>
                    </div>
                    <!-- <div class="campo_dados_pessoais">
                        <mat-form-field appearance="outline" style="width: 100%" class="campos">
                            <mat-label>Email: </mat-label>
                            <input matInput placeholder="Digite seu email" formControlName="email" [disabled]="true">
                        </mat-form-field>
                    </div> -->
                    <div class="campo_dados_pessoais">
                        <mat-form-field appearance="outline" style="width: 100%" class="campos">
                            <mat-label>CEP: </mat-label>
                            <input matInput placeholder="Digite seu CEP" formControlName="cep" [disabled]="true">
                            {{formGroup.get('cep')?.value}}
                        </mat-form-field>
                    </div>
                    <div class="campo_dados_pessoais">
                        <mat-form-field appearance="outline" style="width: 100%" class="campos">
                            <mat-label>CPF: </mat-label>
                            <input matInput placeholder="Digite seu CPF" formControlName="cpf" [disabled]="true">
                            {{formGroup.get('cpf')?.value}}
                        </mat-form-field>
                    </div>
                    <div class="campo_dados_pessoais">
                        <mat-form-field appearance="outline" style="width: 100%" class="campos">
                            <mat-label>Endereço: </mat-label>
                            <input matInput [disabled]="true">
                            <p>CEP: {{ formGroup.get('cep')?.value }}</p>
                            <!-- <p>Estado: {{ formGroup.get('uf')?.value }}</p>
                            <p>Endereço: {{ formGroup.get('logradouro')?.value }}</p>
                            <p>Complemento: {{ formGroup.get('complemento')?.value }}</p>
                            <p>Bairro: {{ formGroup.get('bairro')?.value }}</p>
                            <p>Cidade: {{ formGroup.get('localidade')?.value }}</p> -->
                        </mat-form-field>
                    </div>
                </div>
                <mat-divider vertical></mat-divider>
                <div class="dados_acesso">
                    <h2 class="titulo">Dados de Acesso</h2>
                    <div class="campo_dados_acesso">
                        <mat-form-field appearance="outline" style="width: 100%" class="campos">
                            <mat-label>Username: </mat-label>
                            <input matInput placeholder="Digite seu username" formControlName="login" [disabled]="true">
                            {{formGroup.get('login')?.value}}
                        </mat-form-field>
                    </div>
                    <div class="botoes">
                        <button mat-button class="botao" [routerLink]="'/user/alterarUsername'">
                            <span>Alterar Username</span>
                        </button>
                        <button mat-button class="botao" [routerLink]="'/user/alterarSenha'">
                            <span>Alterar Senha</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
