<mat-toolbar color="primary">
    <div class="toolbar-title"> Cadastro de Serie</div>
</mat-toolbar>
<div class="form-container">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" >
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" formControlName="nome">
                    <mat-error *ngIf="formGroup.get('nome') 
                                   && formGroup.get('nome')?.invalid
                                   && formGroup.get('nome')?.touched">
                                   O campo nome é obrigatório
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Ano de Lançamento</mat-label>
                    <input matInput type="text" formControlName="anoLancamento">
                    <mat-error *ngIf="formGroup.get('anoLancamento') 
                                   && formGroup.get('anoLancamento')?.invalid
                                   && formGroup.get('anoLancamento')?.touched">
                                   O campo Ano de Lançamento é obrigatório
                    </mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions class="button-container">
            <button mat-raised-button routerLink="/admin/series">
                Cancelar
            </button>
            <button mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid">
                Salvar
            </button>

        </mat-card-actions>
    </mat-card>
</div>