<nav class="navbar">
        <div class="header-logo">
            <a href="/" class="logo" routerLink="/">SMART MANIA</a>
        </div>


    <div class="search">
        <input type="text" class="search-bar" placeholder="O que você está procurando?">
        <button mat-icon-button>
        <mat-icon class="nav-icon">search</mat-icon>
        </button>
    </div>

    <div class="nav-icons">
        <!-- <span class="nav-icon">🛒</span> -->
        <!-- <span class="nav-icon">🔔</span> -->
        <!-- <span class="nav-icon">👤</span> -->
        <mat-icon class="nav-icon" routerLink="/user/carrinho">shopping_cart</mat-icon>        
        <mat-icon class="nav-icon">notifications</mat-icon>
        <!-- <mat-icon class="nav-icon" 
            *ngIf="!usuarioLogado" routerLink="/login">
            account_box
        </mat-icon>

        <mat-icon class="nav-icon" *ngIf="usuarioLogado" (click)="deslogar()">
            exit_to_app
        </mat-icon>
        <span *ngIf="usuarioLogado">{{ usuarioLogado.login }}</span> -->

    <!-- Menu de deslogar -->
        <mat-icon *ngIf="usuarioLogado" [matMenuTriggerFor]="menu" 
        class="nav-icon">person</mat-icon>
  
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="meuPerfil()">Meu perfil</button>
        <button mat-menu-item (click)="meusPedidos()">Meus Pedidos</button>
        <button mat-menu-item (click)="deslogar()">Sair</button>
      </mat-menu>
  
    <mat-icon class="nav-icon" 
        *ngIf="!usuarioLogado" routerLink="/login">
            account_box
    </mat-icon>

    </div>

</nav>
