.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza horizontalmente a logo dentro do header */
    height: 100%; /* Certifique-se de que o header tem altura definida */
  }

.logo {
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.search{
    width: 20%;
    display: flex;
    gap: 10px;
}

.search-bar {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.nav-icons {
    display: flex;
    gap: 15px;
}

.nav-icon {
    font-size: 1.5em;
    cursor: pointer;
}
