<div class="full-height">
<mat-toolbar color="primary">
    <div class="flex-container">
        <span class="toolbar-title">Controle de series</span>
        <button mat-fab color="accent" routerLink="./new">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</mat-toolbar>

<div class="content">
<table mat-table [dataSource]="series" class="mat-elevation-z8">

    <!-- Nome Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let serie"> {{serie.id}} </td>
    </ng-container>

    <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let serie"> {{serie.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="anoLancamento">
        <th mat-header-cell *matHeaderCellDef> Ano de Lançamento </th>
        <td mat-cell *matCellDef="let serie"> {{serie.anoLancamento}} </td>
    </ng-container>



    <!-- Acao Column -->
    <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef> Ação </th>
        <td mat-cell *matCellDef="let serie"> 
            <button mat-icon-button color="primary"
            routerLink="../series/edit/{{serie.id}}">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button
                color="warn"
                (click)="delete(serie.id)">
            <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator 
[pageSizeOptions]="[4, 8, 10]" showFirstLastButtons
[pageSize]="pageSize"
[length]="totalRecords"
(page)="paginar($event)">
</mat-paginator>
</div>
</div>