<div class="login-container">
    <div class="login-box">
        <img class="login-icon" src="/icons/passkey.svg" alt="Passkey">
        <h2 class="login-title">Bem-vindo</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            
            <mat-form-field class="login-input">
                <input matInput placeholder="Username" formControlName="username" required>
                <mat-error *ngIf="loginForm.get('username')!.hasError('required')">O username é obrigatório</mat-error>
            </mat-form-field>
            <mat-form-field class="login-input">
                <input matInput type="password" placeholder="Senha" formControlName="senha" required>
                <mat-error *ngIf="loginForm.get('senha')!.hasError('required')">A senha é obrigatória</mat-error>
            </mat-form-field>
            <button mat-raised-button class="login-button" color="primary" type="submit">Login</button>
        </form>
        <div class="login-footer">
            <a href="#" class="forgot-senha">Esqueceu a senha?</a>
            <a routerLink="/register" class="create-account">Criar nova conta</a>
        </div>
    </div>
</div>