.example-spacer {
    flex: 1 1 auto;
}

.toolbar-title {
    flex: 1;
    text-align: center;
}

.flex-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.full-screen-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
    width: 100%;
}