<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="container-login-adm">
        <div class="container-titulo-pagina">
          <div class="palavras-titulo">
            <h1 class="titulo-pagina">Login</h1>
            <h1 class="titulo-pagina">Administrador</h1>
          </div>
        </div>
        <div class="campos">
          <div class="container-formulario">
            <div class="flex-column">
              <label>Username</label>
            </div>
            <div class="inputForm">
              <mat-icon>person</mat-icon>
              <input matInput placeholder="Digite seu username" formControlName="username" type="text" required>
              <mat-error *ngIf="loginForm.get('username')!.hasError('required')"></mat-error>
            </div>
            
            <div class="flex-column">
              <label>Password</label>
            </div>
            <div class="inputForm">
              <mat-icon>lock</mat-icon>
              <input matInput placeholder="Digite sua senha" formControlName="senha" type="password" required>
              <mat-error *ngIf="loginForm.get('senha')!.hasError('required')"></mat-error>
            </div>
            <button class="button-submit" type="submit">Entrar</button>   
          </div>
        </div>
      </div>
    </form>
</div>