<mat-card class="carrinho-container">
  <mat-card-title>Carrinho de Compras</mat-card-title>

  <!-- Tabela de Produtos -->
  <table class="cart-table" *ngIf="carrinhoItens.length > 0; else carrinhoVazio">
    <thead>
      <tr>
        <th>Produto</th>
        <th>Preço</th>
        <th>Quantidade</th>
        <th>Subtotal</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of carrinhoItens">
        <td class="produto-detalhes">
          <!-- <img [src]="item.imagem" alt="{{ item.nome }}" class="produto-imagem" /> -->
          <span>{{ item.nome }}</span>
        </td>
        <td>{{ item.preco | currency }}</td>
        <td>
          <input
            type="number"
            [(ngModel)]="item.quantidade"
            (change)="atualizarQuantidade(item)"
            min="1"
          />
        </td>
        <td>{{ item.quantidade * item.preco | currency }}</td>
        <td>
          <button (click)="removerItem(item)" class="remover-button">Remover</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Total do Carrinho -->
  <div *ngIf="carrinhoItens.length > 0" class="carrinho-total">
    <h3>Total: {{ calcularTotal() | currency }}</h3>
    <button (click)="finalizarCompra()" class="finalizar-button">Finalizar Compra</button>
  </div>

  <!-- Mensagem para Carrinho Vazio -->
  <ng-template #carrinhoVazio>
    <p>Seu carrinho está vazio. Adicione itens para continuar.</p>
  </ng-template>
</mat-card>