<mat-card class="carrinho-container">
  <mat-card-title>Carrinho de Compras</mat-card-title>

  <!-- Tabela de Produtos -->
  <table class="cart-table" *ngIf="itensCarrinho.length > 0; else carrinhoVazio">
    <thead>
      <tr>
        <th>Produto</th>
        <th>Preço</th>
        <th>Quantidade</th>
        <th>Subtotal</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of itensCarrinho">
        <td class="produto-detalhes">
          <img [src]="item.imageUrl" alt="{{ item.nome }}" class="produto-imagem" />
          <span>{{ item.nome }}</span>
        </td>
        <td>{{ item.preco | currency : "BRL" : "symbol" : "1.2-2"}}</td>
        <td>
          <input
            type="number"
            [(ngModel)]="item.quantidade"
            (change)="atualizarQuantidade(item)"
            min="1"
          />
        </td>
        <td>{{ item.quantidade * item.preco | currency : "BRL" : "symbol" : "1.2-2" }}</td>
        <td>
          <button (click)="removerItem(item)" class="remover-button">Remover</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Total do Carrinho -->
  <div *ngIf="itensCarrinho.length > 0" class="carrinho-total">
    <h3>Total: {{ calcularTotal() | currency : "BRL" : "symbol" : "1.2-2" }}</h3>
    <button (click)="finalizarCompra()" class="finalizar-button">Finalizar Compra</button>
    <button routerLink="/user/finalizarVenda" class="finalizar-button">Ir para Venda</button>
  </div>

  <!-- Mensagem para Carrinho Vazio -->
  <ng-template #carrinhoVazio>
    <div class="carrinho-vazio">
      <p>Seu carrinho está vazio.</p>
      <button mat-raised-button color="primary" routerLink="/user/ecommerce">Continuar Comprando</button>
    </div>
  </ng-template>
</mat-card>