.carrinho-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: var(--mat-sidenav-content-text-color, var(--mat-app-on-background));
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .cart-table th,
  .cart-table td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .produto-detalhes {
    display: flex;
    align-items: center;
  }
  
  .produto-imagem {
    width: 50px;
    height: auto;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .remover-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .remover-button:hover {
    background-color: #c0392b;
  }
  
  .carrinho-total {
    text-align: right;
    margin-top: 20px;
  }
  
  .carrinho-total h3 {
    margin-bottom: 10px;
  }
  
  .finalizar-button {
    background-color: #254ed4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .finalizar-button:hover {
    background-color: #0b259c;
  }
  
  p {
    text-align: center;
    font-size: 1.2em;
    color: #666;
  }

  .limpar-button {
    background-color: #f3a30f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .limpar-button:hover {
    background-color: #dd3a09;
  }

  .venda-button {
    background-color: #22e009;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .venda-button:hover {
    background-color: #0f9902;
  }