<div class="full-height">
<mat-toolbar color="primary">
    <div class="flex-container">
        <span class="toolbar-title">Controle de Processadores</span>
        <button mat-fab color="accent" routerLink="new" class="add-button">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</mat-toolbar>

<mat-divider></mat-divider>

<div class="content table-container">

    <table mat-table [dataSource]="processadores" class="mat-elevation-z8">
        <!-- Nome Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let processador"> {{processador.id}} </td>
        </ng-container>

        <ng-container matColumnDef="marca">
            <th mat-header-cell *matHeaderCellDef> marca </th>
            <td mat-cell *matCellDef="let processador"> {{processador.marca}} </td>
        </ng-container>

        <ng-container matColumnDef="modelo">
            <th mat-header-cell *matHeaderCellDef> modelo </th>
            <td mat-cell *matCellDef="let processador"> {{processador.modelo}} </td>
        </ng-container>


        <!-- Acao Column -->
        <ng-container matColumnDef="acao">
            <th mat-header-cell *matHeaderCellDef> Ação </th>
            <td mat-cell *matCellDef="let processador"> 
                <button mat-icon-button color="primary" 
                routerLink="../processadores/edit/{{processador.id}}">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button
                    color="warn"
                    (click)="delete(processador.id)">
                <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator 
    [pageSizeOptions]="[4, 6, 10]" showFirstLastButtons
    [pageSize]="pageSize"
    [length]="totalRecords"
    (page)="paginar($event)">
    </mat-paginator>
</div>
</div>