<mat-drawer-container class="container">

    <mat-drawer #drawer  mode="over" closed>
        <mat-toolbar>
            <span>Menu</span>
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item routerLink="admin">Home</mat-list-item>
            <mat-list-item routerLink="/admin/processadores">Controle de Processador</mat-list-item>
            <mat-list-item routerLink="/admin/telas">Controle de Tela</mat-list-item>
            <mat-list-item routerLink="/admin/clientes">Controle de Cliente</mat-list-item>
            <mat-list-item routerLink="/admin/celulares">Controle de Celular</mat-list-item>
            <mat-list-item routerLink="/admin/funcionarios">Controle de Funcionário</mat-list-item>
            <mat-list-item routerLink="/admin/portaSlots">Controle de Porta Slot</mat-list-item>
            <mat-list-item routerLink="/admin/cameras">Controle de Camera</mat-list-item>
            <mat-list-item routerLink="/admin/series">Controle de Serie</mat-list-item>
            <mat-list-item routerLink="/admin/sensores">Controle de Sensor</mat-list-item>
            <mat-list-item routerLink="/admin/linha">Controle de Linhas</mat-list-item>
        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>